<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
        
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<typeAlias type="com.kms.byslboot.member.entity.Member" alias="Member" />
		<typeAlias type="com.kms.byslboot.workspace.entity.Team" alias="Team" />
		<typeAlias type="com.kms.byslboot.workspace.entity.Permission" alias="Permission" />
		<typeAlias type="com.kms.byslboot.workspace.entity.TeamPermission" alias="TeamPermission" />
		<typeAlias type="com.kms.byslboot.workspace.dto.TeamPermissionRequest" alias="TeamPermissionRequest" />
		<typeAlias type="com.kms.byslboot.workspace.dto.TeamPermissionResponse" alias="TeamPermissionResponse" />
		<typeAlias type="com.kms.byslboot.workspace.entity.UserWorkspace" alias="UserWorkspace" />
		<typeAlias type="com.kms.byslboot.workspace.entity.Workspace" alias="Workspace" />
		<typeAlias type="com.kms.byslboot.calendar.entity.Calendar" alias="Calendar" />
		<typeAlias type="com.kms.byslboot.calendar.dto.CalendarRequest" alias="CalendarRequest" />
		<typeAlias type="com.kms.byslboot.calendar.dto.CalendarResponse" alias="CalendarResponse" />
	</typeAliases>
</configuration>